
// @content         webfonts
// @description     Einbindung der Webfonts
// -----------------------------------------------------------------------------

@font-face{
    font-family: 'Genath_Regular';
    src: url( 'http://fnt.webink.com/wfs/?drawer=1E31CDD2-8E25-47F9-B8AB-9981D428291C&font=7B3812DA-4DA8-9D05-72E2-DE755A973015');
    font-weight: normal;
    font-style: normal;
}
