
// @content         media elements
// @description     Media-Elemente wie img, figure oder video
// -----------------------------------------------------------------------------

img {
    max-width: 100%;

    // Remove the gap between images and the bottom of their containers: h5bp.com/i/440
    vertical-align: middle;
}

a {
    img {
        border: 0;
    }
}