<!doctype html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<title>Boilerplate – Buttons</title>
	<link rel="stylesheet" href="../assets/css/styles.css">
	<link rel="stylesheet" href="styleguide.css">
</head>
<body>

<div id="canvas">

	<section class="baustein">
		<header>
			<h1>Buttons</h1>
		</header>

		<button class="btn">Button</button>
		<a href="#" class="btn">Button (link)</a>
	</section>


	<section class="baustein">
		<header>
			<h1>Button-Gruppen</h1>
		</header>

		<div class="btn-group clearfix">
			<button class="btn">Button 1</button>
			<button class="btn is-selected">Button 2</button>
			<button class="btn">Button 3</button>
			<button class="btn">Button 4</button>
		</div>
	</section>


	<section class="baustein">
		<header>
			<h1>Button-Dropdown</h1>
		</header>

		<div class="btn-group clearfix">
			<button class="btn btn-dropdown">Dropdown<i></i></button>
			<ul class="dropdown-menu">
				<li><a href="#">Menu 1</a></li>
				<li><a href="#">Menu 2</a></li>
				<li><a href="#">Menu 3</a></li>
			</ul>
		</div>
	</section>

</div>

</body>
</html>