<!doctype html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<title>Boilerplate – Layoutraster</title>
	<link rel="stylesheet" href="../assets/css/all.css">
	<link rel="stylesheet" href="styleguide.css">
</head>
<body>

<div id="canvas">
	<header>
		<h1>Layoutraster, 12 Spalten</h1>
	</header>

	<section class="baustein grid">
		<div class="grid-row">
			<div class="grid-column-6">
				<span class="grid-cell">6</span>
			</div>
			<div class="grid-column-6">
				<span class="grid-cell">6</span>
			</div>
		</div>

		<div class="grid-row">
			<div class="grid-column-5">
				<div class="grid-cell">5</div>
			</div>
			<div class="grid-column-2">
				<div class="grid-cell">2</div>
			</div>
			<div class="grid-column-5">
				<div class="grid-cell">5</div>
			</div>
		</div>

		<div class="grid-row">
			<div class="grid-column-4">
				<div class="grid-cell">4</div>
			</div>
			<div class="grid-column-4">
				<div class="grid-cell">4</div>
			</div>
			<div class="grid-column-4">
				<div class="grid-cell">4</div>
			</div>
		</div>

		<div class="grid-row">
			<div class="grid-column-2">
				<div class="grid-cell">2</div>
			</div>
			<div class="grid-column-2">
				<div class="grid-cell">2</div>
			</div>
			<div class="grid-column-2">
				<div class="grid-cell">2</div>
			</div>
			<div class="grid-column-2">
				<div class="grid-cell">2</div>
			</div>
			<div class="grid-column-2">
				<div class="grid-cell">2</div>
			</div>
			<div class="grid-column-2">
				<div class="grid-cell">2</div>
			</div>
		</div>

		<div class="grid-row">
			<div class="grid-column-3">
				<div class="grid-cell">3</div>
			</div>
			<div class="grid-column-3">
				<div class="grid-cell">3</div>
			</div>
			<div class="grid-column-3">
				<div class="grid-cell">3</div>
			</div>
			<div class="grid-column-3">
				<div class="grid-cell">3</div>
			</div>
		</div>

		<div class="grid-row">
			<div class="grid-column-1">
				<div class="grid-cell">1</div>
			</div>
			<div class="grid-column-1">
				<div class="grid-cell">1</div>
			</div>
			<div class="grid-column-1">
				<div class="grid-cell">1</div>
			</div>
			<div class="grid-column-1">
				<div class="grid-cell">1</div>
			</div>
			<div class="grid-column-1">
				<div class="grid-cell">1</div>
			</div>
			<div class="grid-column-1">
				<div class="grid-cell">1</div>
			</div>
			<div class="grid-column-1">
				<div class="grid-cell">1</div>
			</div>
			<div class="grid-column-1">
				<div class="grid-cell">1</div>
			</div>
			<div class="grid-column-1">
				<div class="grid-cell">1</div>
			</div>
			<div class="grid-column-1">
				<div class="grid-cell">1</div>
			</div>
			<div class="grid-column-1">
				<div class="grid-cell">1</div>
			</div>
			<div class="grid-column-1">
				<div class="grid-cell">1</div>
			</div>
		</div>
	</section>

	<section class="baustein grid">
		<header>
			<h1>verschachtelt auf einer Ebene</h1>
		</header>

		<div class="grid-row">
			<div class="grid-column-6">
				<div class="grid-cell">6</div>
				<div class="grid-row">
					<div class="grid-column-4">
						<div class="grid-cell">4</div>
					</div>
					<div class="grid-column-4">
						<div class="grid-cell">4</div>
					</div>
					<div class="grid-column-4">
						<div class="grid-cell">4</div>
					</div>
				</div>
			</div>

			<div class="grid-column-6">
				<div class="grid-cell">6</div>
				<div class="grid-row">
					<div class="grid-column-4">
						<div class="grid-cell">4</div>
					</div>
					<div class="grid-column-4">
						<div class="grid-cell">4</div>
					</div>
					<div class="grid-column-4">
						<div class="grid-cell">4</div>
					</div>
				</div>
			</div>
		</div>

	</section>


	<section class="baustein grid">
		<header>
			<h1>verschachtelt auf zwei Ebenen</h1>
		</header>

		<div class="grid-row">
			<div class="grid-column-6">
				<div class="grid-cell">50%</div>
				<div class="grid-row">
					<div class="grid-column-4">
						<div class="grid-cell">33.3%</div>
						<div class="grid-row">
							<div class="grid-column-6">
								<div class="grid-cell">50%</div>
							</div>
							<div class="grid-column-6">
								<div class="grid-cell">50%</div>
							</div>
						</div>
					</div>
					<div class="grid-column-4">
						<div class="grid-cell">33.3%</div>
						<div class="grid-row">
							<div class="grid-column-6">
								<div class="grid-cell">50%</div>
							</div>
							<div class="grid-column-6">
								<div class="grid-cell">50%</div>
							</div>
						</div>
					</div>
					<div class="grid-column-4">
						<div class="grid-cell">33.3%</div>
						<div class="grid-row">
							<div class="grid-column-6">
								<div class="grid-cell">50%</div>
							</div>
							<div class="grid-column-6">
								<div class="grid-cell">50%</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="grid-column-6">
				<div class="grid-cell">50%</div>
				<div class="grid-row">
					<div class="grid-column-2">
						<div class="grid-cell">16.6%</div>
						<div class="grid-row">
							<div class="grid-column-12">
								<div class="grid-cell">100%</div>
							</div>
						</div>
					</div>
					<div class="grid-column-3">
						<div class="grid-cell">25%</div>
						<div class="grid-row">
							<div class="grid-column-6">
								<div class="grid-cell">50%</div>
							</div>
							<div class="grid-column-6">
								<div class="grid-cell">50%</div>
							</div>
						</div>
					</div>
					<div class="grid-column-7">
						<div class="grid-cell">58.3%</div>
						<div class="grid-row">
							<div class="grid-column-3">
								<div class="grid-cell">25%</div>
							</div>
							<div class="grid-column-9">
								<div class="grid-cell">75%</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

</div>

</body>
</html>
